{{ if eq .chezmoi.os "darwin" -}}
#!/bin/sh

# ask for sudo upfront
sudo -v

# Keep sudo authentication alive while the script runs
while true; do sudo -n true; sleep 60; kill -0 "$$" || exit; done 2>/dev/null &

NONINTERACTIVE /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
brew install gh
brew install zsh
brew install bitwarden-cli
brew install asdf

# check if bun is installed
if command -v bun &> /dev/null; then
    # try to upgrade
    bun upgrade
else
    # install bun
    curl -fsSL https://bun.sh/install | bash
fi


# check if rust is installed
if command -v rustc &> /dev/null; then
    # rust is installed, try to upgrade
    rustup update
else
    # rust is not installed, install it without prompts
    curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
fi

export BW_SESSION=$(bw login {{ .bitwardenEmail }} --raw)
git clone --recursive https://github.com/sorin-ionescu/prezto.git "${ZDOTDIR:-$HOME}/.zprezto"

# Check if already authenticated with GitHub CLI
if ! gh auth status &> /dev/null; then
    gh auth login -h github.com -s admin:public_key -p ssh --skip-ssh-key -w
else
  echo "GH already authenticated"
fi
{{ end -}}
