{{ $bwEmail := promptString "What is your bitwarden email address" }}
{{ $ghEmail := promptString "What is your github email address (for .gitconfig)" }}
{{ $sshEmail := promptString "What is your ssh email" }}
{
	"data": {
		"githubUsername": "piotrpalek",
		"githubCommitEmail": {{ $ghEmail | quote }},
		"sshEmail": {{ $sshEmail | quote }},
		"bitwardenEmail": {{ $bwEmail | quote }}
	}
}
{{ writeToStdout "Config file generated at " .chezmoi.configFile "\n" -}}
