{{ if eq .chezmoi.os "darwin" -}}
#!/bin/sh
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
brew install gh
brew install zsh
brew install bitwarden-cli
brew install asdf
export BW_SESSION=$(bw login {{ .data.bitwardenEmail }} --raw)
chsh -s $(which zsh)
git clone --recursive https://github.com/sorin-ionescu/prezto.git "${ZDOTDIR:-$HOME}/.zprezto"
gh auth login
{{ end -}}
